openapi: 3.0.3
info:
  title: Authlete API Explorer
  description: "<div class=\"min-h-screen bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-gray-100 p-6\">\n  <div class=\"flex justify-end mb-4\">\n    <label for=\"theme-toggle\" class=\"flex items-center cursor-pointer\">\n      <div class=\"relative\">Dark mode:\n        <input type=\"checkbox\" id=\"theme-toggle\" class=\"sr-only\" onchange=\"toggleTheme()\">\n        <div class=\"block bg-gray-600 w-14 h-8 rounded-full\"></div>\n        <div class=\"dot absolute left-1 top-1 bg-white w-6 h-6 rounded-full transition\"></div>\n      </div>\n    </label>\n  </div>\n  <header class=\"bg-green-500 dark:bg-green-700 p-4 rounded-lg text-white text-center\">\n    <p>\n      Welcome to the <strong>Authlete API documentation</strong>. Authlete is an <strong>API-first service</strong>\n      where every aspect of the platform is configurable via API. This explorer provides a convenient way to\n      authenticate and interact with the API, allowing you to see Authlete in action quickly. \U0001F680\n    </p>\n    <p>\n      At a high level, the Authlete API is grouped into two categories:\n    </p>\n    <ul class=\"list-disc list-inside\">\n      <li><strong>Management APIs</strong>: Enable you to manage services and clients. \U0001F527</li>\n      <li><strong>Runtime APIs</strong>: Allow you to build your own Authorization Servers or Verifiable Credential (VC)\n        issuers. \U0001F510</li>\n    </ul>\n    <p>All API endpoints are secured using access tokens issued by Authlete's Identity Provider (IdP). If you already\n      have an Authlete account, simply use the <em>Get Token</em> option on the Authentication page to log in and obtain\n      an access token for API usage. If you don't have an account yet, <a href=\"https://console.authlete.com/register\">sign up\n        here</a> to get started.</p>\n  </header>\n  <main>\n    <section id=\"api-servers\" class=\"mb-10\">\n      <h2 class=\"text-2xl font-semibold mb-4\">\U0001F310 API Servers</h2>\n      <p>Authlete is a global service with clusters available in multiple regions across the world.</p>\n      <p>Currently, our service is available in the following regions:</p>\n      <div class=\"grid grid-cols-2 gap-4\">\n        <div class=\"p-4 bg-white dark:bg-gray-800 rounded-lg shadow\">\n          <p class=\"text-center font-semibold\">\U0001F1FA\U0001F1F8 US</p>\n        </div>\n        <div class=\"p-4 bg-white dark:bg-gray-800 rounded-lg shadow\">\n          <p class=\"text-center font-semibold\">\U0001F1EF\U0001F1F5 JP</p>\n        </div>\n        <div class=\"p-4 bg-white dark:bg-gray-800 rounded-lg shadow\">\n          <p class=\"text-center font-semibold\">\U0001F1EA\U0001F1FA EU</p>\n        </div>\n        <div class=\"p-4 bg-white dark:bg-gray-800 rounded-lg shadow\">\n          <p class=\"text-center font-semibold\">\U0001F1E7\U0001F1F7 Brazil</p>\n        </div>\n      </div>\n      <p>Our customers can host their data in the region that best meets their requirements.</p>\n      <a href=\"#servers\" class=\"block mt-4 text-green-500 dark:text-green-300 hover:underline text-center\">Select your\n        preferred server</a>\n    </section>\n    <section id=\"authentication\" class=\"mb-10\">\n      <h2 class=\"text-2xl font-semibold mb-4\">\U0001F511 Authentication</h2>\n      <p>The API Explorer requires an access token to call the API.</p>\n      <p>You can create the access token from the <a href=\"https://console.authlete.com\">Authlete Management Console</a> and set it in the HTTP Bearer section of Authentication page.</p>\n      <p>Alternatively, if you have an Authlete account, the API Explorer can log you in with your Authlete account and\n        automatically acquire the required access token.</p>\n      <div class=\"theme-admonition theme-admonition-warning admonition_o5H7 alert alert--warning\">\n        <div class=\"admonitionContent_Knsx\">\n          <p>⚠️ <strong>Important Note:</strong> When the API Explorer acquires the token after login, the access tokens\n            will have the same permissions as the user who logs in as part of this flow.</p>\n        </div>\n      </div>\n      <a href=\"#auth\" class=\"block mt-4 text-green-500 dark:text-green-300 hover:underline text-center\">Setup your\n        access token</a>\n    </section>\n    <section id=\"tutorials\" class=\"mb-10\">\n      <h2 class=\"text-2xl font-semibold mb-4\">\U0001F393 Tutorials</h2>\n      <p>If you have successfully tested the API from the API Console and want to take the next step of integrating the\n        API into your application, or if you want to see a sample using Authlete APIs, follow the links below. These\n        resources will help you understand key concepts and how to integrate Authlete API into your applications.</p>\n      <div class=\"mt-4\">\n        <a href=\"https://www.authlete.com/developers/getting_started/\"\n          class=\"block text-green-500 dark:text-green-300 font-bold hover:underline mb-2\">\U0001F680 Getting Started with\n          Authlete</a>\n          </br>\n        <a href=\"https://www.authlete.com/developers/tutorial/signup/\"\n          class=\"block text-green-500 dark:text-green-300 font-bold hover:underline\">\U0001F511 From Sign-Up to the First API\n          Request</a>\n      </div>\n    </section>\n    <section id=\"support\" class=\"mb-10\">\n      <h2 class=\"text-2xl font-semibold mb-4\">\U0001F6E0 Contact Us</h2>\n      <p>If you have any questions or need assistance, our team is here to help.</p>\n      <a href=\"https://www.authlete.com/contact/\"\n        class=\"block mt-4 text-green-500 dark:text-green-300 font-bold hover:underline\">Contact Page</a>\n    </section>\n  </main>\n</div>\n"
  version: 3.0.0
  license:
    name: Apache 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0.html'
servers:
  - description: "\U0001F1FA\U0001F1F8 US Cluster"
    url: 'https://us.authlete.com'
  - description: "\U0001F1EF\U0001F1F5 Japan Cluster"
    url: 'https://jp.authlete.com'
  - description: "\U0001F1EA\U0001F1FA Europe Cluster"
    url: 'https://eu.authlete.com'
  - description: "\U0001F1E7\U0001F1F7 Brazil Cluster"
    url: 'https://br.authlete.com'
security:
  - authlete: []
  - bearer: []
paths:
  '/api/{serviceId}/service/get':
    get:
      summary: Get Service
      description: |
        Get a service.

        If the access token can only view or modify clients underneath this service, but does not
        have access to view this service directly, a limited view of the service will be returned.
      parameters:
        - in: path
          name: serviceId
          description: A service ID.
          schema:
            type: string
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
              examples:
                full:
                  summary: Example showing the full service object.
                  value:
                    accessTokenDuration: 3600
                    accessTokenType: Bearer
                    allowableClockSkew: 0
                    apiKey: 21653835348762
                    attributes:
                      - key: attribute1-key
                        value: attribute1-value
                      - key: attribute2-key
                        value: attribute2-value
                    authorizationEndpoint: 'https://my-service.example.com/authz'
                    authorizationResponseDuration: 0
                    backchannelAuthReqIdDuration: 0
                    backchannelBindingMessageRequiredInFapi: false
                    backchannelPollingInterval: 0
                    backchannelUserCodeParameterSupported: false
                    claimShortcutRestrictive: false
                    clientIdAliasEnabled: true
                    clientsPerDeveloper: 0
                    createdAt: 1639373421000
                    dcrScopeUsedAsRequestable: false
                    deviceFlowCodeDuration: 0
                    deviceFlowPollingInterval: 0
                    directAuthorizationEndpointEnabled: false
                    directIntrospectionEndpointEnabled: false
                    directJwksEndpointEnabled: false
                    directRevocationEndpointEnabled: false
                    directTokenEndpointEnabled: false
                    directUserInfoEndpointEnabled: false
                    dynamicRegistrationSupported: false
                    errorDescriptionOmitted: false
                    errorUriOmitted: false
                    frontChannelRequestObjectEncryptionRequired: false
                    grantManagementActionRequired: false
                    hsmEnabled: false
                    idTokenDuration: 0
                    introspectionEndpoint: 'https://my-service.example.com/introspection'
                    issSuppressed: false
                    issuer: 'https://my-service.example.com'
                    metadata:
                      - key: clientCount
                        value: '1'
                    missingClientIdAllowed: false
                    modifiedAt: 1639373421000
                    mutualTlsValidatePkiCertChain: false
                    nbfOptional: false
                    number: 5041
                    parRequired: false
                    pkceRequired: true
                    pkceS256Required: false
                    pushedAuthReqDuration: 0
                    refreshTokenDuration: 3600
                    refreshTokenDurationKept: false
                    refreshTokenDurationReset: false
                    refreshTokenKept: false
                    requestObjectEncryptionAlgMatchRequired: false
                    requestObjectEncryptionEncMatchRequired: false
                    requestObjectRequired: false
                    revocationEndpoint: 'https://my-service.example.com/revocation'
                    scopeRequired: false
                    serviceName: My service
                    serviceOwnerNumber: 2
                    singleAccessTokenPerSubject: false
                    supportedClaimTypes:
                      - NORMAL
                    supportedDisplays:
                      - PAGE
                    supportedGrantTypes:
                      - AUTHORIZATION_CODE
                      - REFRESH_TOKEN
                    supportedIntrospectionAuthMethods:
                      - CLIENT_SECRET_BASIC
                    supportedResponseTypes:
                      - CODE
                    supportedRevocationAuthMethods:
                      - CLIENT_SECRET_BASIC
                    supportedScopes:
                      - defaultEntry: false
                        description: A permission to read your history.
                        name: history.read
                      - defaultEntry: false
                        description: A permission to read your timeline.
                        name: timeline.read
                    supportedTokenAuthMethods:
                      - CLIENT_SECRET_BASIC
                    tlsClientCertificateBoundAccessTokens: false
                    tokenEndpoint: 'https://my-service.example.com/token'
                    tokenExpirationLinked: false
                    traditionalRequestObjectProcessingApplied: false
                    unauthorizedOnClientConfigSupported: false
                    userCodeLength: 0
                limited:
                  summary: Example showing the limited service object.
                  value:
                    apiKey: 21653835348762
                    description: This Service.
                    number: 5041
                    serviceName: My service
        '400':
          $ref: '#/paths/~1api~1info/get/responses/400'
        '401':
          $ref: '#/paths/~1api~1info/get/responses/401'
        '403':
          $ref: '#/paths/~1api~1info/get/responses/403'
        '500':
          $ref: '#/paths/~1api~1info/get/responses/500'
      operationId: service_get_api
      x-code-samples:
        - lang: shell
          label: curl
          source: |
            curl -v https://us.authlete.com/api/21653835348762/service/get \
            -u 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F'
        - lang: java
          label: java
          source: |
            AuthleteConfiguration conf = ...;
            AuthleteApi api = AuthleteApiFactory.create(conf);

            long serviceId = ...;

            api.getService(serviceId);
        - lang: python
          source: |
            conf = ...
            api = AuthleteApiImpl(conf)

            serviceId = ...

            api.getService(serviceId)
      tags:
        - Service Management
  /api/service/get/list:
    get:
      summary: List Services
      description: |
        Get a list of services.

        If the access token can only view or modify clients underneath a service, but does not
        have access to view that service directly, a limited view of the service will be returned.
        Otherwise, all properties of the service are returned.

        If the access token is an administrative token, this returns a list of all services on the Authlete instance.
        Otherwise, all services that the access token can view, even in a limited fashion, are returned.
      parameters:
        - in: query
          name: start
          schema:
            type: integer
            format: int32
          required: false
          description: Start index (inclusive) of the result set. The default value is 0. Must not be a negative number.
        - in: query
          name: end
          schema:
            type: integer
            format: int32
          required: false
          description: End index (exclusive) of the result set. The default value is 5. Must not be a negative number.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  start:
                    type: integer
                    format: int32
                    description: |
                      Start index (inclusive) of the result set. The default value is 0. Must not be a negative
                      number.
                  end:
                    type: integer
                    format: int32
                    description: |
                      Start index (inclusive) of the result set. The default value is 0. Must not be a negative
                      number.
                  totalCount:
                    type: integer
                    format: int32
                    description: |
                      Total number of services owned by the service owner. This doesn't mean the number of services
                      contained in the response.
                  services:
                    type: array
                    items:
                      $ref: '#/components/schemas/Service'
                    description: |
                      An array of services.
              examples:
                full:
                  summary: Example showing the full service view.
                  value:
                    start: 0
                    end: 5
                    totalCount: 1
                    services:
                      - accessTokenDuration: 3600
                        accessTokenType: Bearer
                        allowableClockSkew: 0
                        apiKey: 21653835348762
                        apiSecret: uE4NgqeIpuSV_XejQ7Ds3jsgA1yXhjR1MXJ1LbPuyls
                        attributes:
                          - key: attribute1-key
                            value: attribute1-value
                          - key: attribute2-key
                            value: attribute2-value
                        authorizationEndpoint: 'https://as.example.com/authz'
                        authorizationResponseDuration: 0
                        backchannelAuthReqIdDuration: 0
                        backchannelBindingMessageRequiredInFapi: false
                        backchannelPollingInterval: 0
                        backchannelUserCodeParameterSupported: false
                        claimShortcutRestrictive: false
                        clientIdAliasEnabled: true
                        createdAt: 1639373421000
                        dcrScopeUsedAsRequestable: false
                        deviceFlowCodeDuration: 0
                        deviceFlowPollingInterval: 0
                        directAuthorizationEndpointEnabled: false
                        directIntrospectionEndpointEnabled: false
                        directJwksEndpointEnabled: false
                        directRevocationEndpointEnabled: false
                        directTokenEndpointEnabled: false
                        directUserInfoEndpointEnabled: false
                        dynamicRegistrationSupported: false
                        errorDescriptionOmitted: false
                        errorUriOmitted: false
                        frontChannelRequestObjectEncryptionRequired: false
                        grantManagementActionRequired: false
                        hsmEnabled: false
                        idTokenDuration: 0
                        introspectionEndpoint: 'https://my-service.example.com/introspection'
                        issSuppressed: false
                        issuer: 'https://my-service.example.com'
                        metadata:
                          - key: clientCount
                            value: '1'
                        missingClientIdAllowed: false
                        modifiedAt: 1639373421000
                        mutualTlsValidatePkiCertChain: false
                        nbfOptional: false
                        number: 5041
                        parRequired: false
                        pkceRequired: true
                        pkceS256Required: false
                        pushedAuthReqDuration: 0
                        refreshTokenDuration: 3600
                        refreshTokenDurationKept: false
                        refreshTokenDurationReset: false
                        refreshTokenKept: false
                        requestObjectEncryptionAlgMatchRequired: false
                        requestObjectEncryptionEncMatchRequired: false
                        requestObjectRequired: false
                        revocationEndpoint: 'https://my-service.example.com/revocation'
                        scopeRequired: false
                        serviceName: My service
                        serviceOwnerNumber: 2
                        singleAccessTokenPerSubject: false
                        supportedClaimTypes:
                          - NORMAL
                        supportedDisplays:
                          - PAGE
                        supportedGrantTypes:
                          - AUTHORIZATION_CODE
                          - REFRESH_TOKEN
                        supportedIntrospectionAuthMethods:
                          - CLIENT_SECRET_BASIC
                        supportedResponseTypes:
                          - CODE
                        supportedRevocationAuthMethods:
                          - CLIENT_SECRET_BASIC
                        supportedScopes:
                          - defaultEntry: false
                            description: A permission to read your history.
                            name: history.read
                          - defaultEntry: false
                            description: A permission to read your timeline.
                            name: timeline.read
                        supportedTokenAuthMethods:
                          - CLIENT_SECRET_BASIC
                        tlsClientCertificateBoundAccessTokens: false
                        tokenEndpoint: 'https://my-service.example.com/token'
                        tokenExpirationLinked: false
                        traditionalRequestObjectProcessingApplied: false
                        unauthorizedOnClientConfigSupported: false
                        userCodeLength: 0
                limited:
                  summary: Example showing the limited service view.
                  value:
                    start: 0
                    end: 5
                    totalCount: 1
                    services:
                      - apiKey: 21653835348762
                        clientIdAliasEnabled: true
                        number: 5041
                        serviceName: My service
        '400':
          $ref: '#/paths/~1api~1info/get/responses/400'
        '401':
          $ref: '#/paths/~1api~1info/get/responses/401'
        '403':
          $ref: '#/paths/~1api~1info/get/responses/403'
        '500':
          $ref: '#/paths/~1api~1info/get/responses/500'
      operationId: service_get_list_api
      x-code-samples:
        - lang: shell
          label: curl
          source: |
            curl -v https://us.authlete.com/api/9503564192/service/get/list?start=0\&end=5 \
            -u 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F'
        - lang: java
          label: java
          source: |
            AuthleteConfiguration conf = ...;
            AuthleteApi api = AuthleteApiFactory.create(conf);

            int start = 0;
            int end = 5;

            api.getServiceList(start, end);
        - lang: python
          source: |
            conf = ...
            api = AuthleteApiImpl(conf)

            start = 0
            end = 5

            api.getServiceList(start, end)
      tags:
        - Service Management
  /api/service/create:
    post:
      summary: Create Service
      description: |
        Create a new service.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Service'
            example:
              serviceName: My service
              issuer: 'https://my-service.example.com'
              clientIdAliasEnabled: true
              supportedGrantTypes:
                - AUTHORIZATION_CODE
                - REFRESH_TOKEN
              supportedResponseTypes:
                - CODE
              authorizationEndpoint: 'https://my-service.example.com/authz'
              pkceRequired: true
              tokenEndpoint: 'https://my-service.example.com/token'
              supportedTokenAuthMethods:
                - CLIENT_SECRET_BASIC
              revocationEndpoint: 'https://my-service.example.com/revocation'
              supportedRevocationAuthMethods:
                - CLIENT_SECRET_BASIC
              introspectionEndpoint: 'https://my-service.example.com/introspection'
              supportedIntrospectionAuthMethods:
                - CLIENT_SECRET_BASIC
              accessTokenType: Bearer
              accessTokenDuration: 3600
              refreshTokenDuration: 3600
              supportedScopes:
                - name: timeline.read
                  defaultEntry: false
                  description: A permission to read your timeline.
                - name: history.read
                  defaultEntry: false
                  description: A permission to read your history.
              attributes:
                - key: attribute1-key
                  value: attribute1-value
                - key: attribute2-key
                  value: attribute2-value
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Service'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
              example:
                accessTokenDuration: 3600
                accessTokenType: Bearer
                allowableClockSkew: 0
                apiKey: 21653835348762
                apiSecret: uE4NgqeIpuSV_XejQ7Ds3jsgA1yXhjR1MXJ1LbPuyls
                attributes:
                  - key: attribute1-key
                    value: attribute1-value
                  - key: attribute2-key
                    value: attribute2-value
                authorizationEndpoint: 'https://my-service.example.com/authz'
                authorizationResponseDuration: 0
                backchannelAuthReqIdDuration: 0
                backchannelBindingMessageRequiredInFapi: false
                backchannelPollingInterval: 0
                backchannelUserCodeParameterSupported: false
                claimShortcutRestrictive: false
                clientIdAliasEnabled: true
                clientsPerDeveloper: 0
                createdAt: 1639373421000
                dcrScopeUsedAsRequestable: false
                deviceFlowCodeDuration: 0
                deviceFlowPollingInterval: 0
                directAuthorizationEndpointEnabled: false
                directIntrospectionEndpointEnabled: false
                directJwksEndpointEnabled: false
                directRevocationEndpointEnabled: false
                directTokenEndpointEnabled: false
                directUserInfoEndpointEnabled: false
                dynamicRegistrationSupported: false
                errorDescriptionOmitted: false
                errorUriOmitted: false
                frontChannelRequestObjectEncryptionRequired: false
                grantManagementActionRequired: false
                hsmEnabled: false
                idTokenDuration: 0
                introspectionEndpoint: 'https://my-service.example.com/introspection'
                issSuppressed: false
                issuer: 'https://my-service.example.com'
                metadata:
                  - key: clientCount
                    value: '0'
                missingClientIdAllowed: false
                modifiedAt: 1639373421000
                mutualTlsValidatePkiCertChain: false
                nbfOptional: false
                number: 5041
                parRequired: false
                pkceRequired: true
                pkceS256Required: false
                pushedAuthReqDuration: 0
                refreshTokenDuration: 3600
                refreshTokenDurationKept: false
                refreshTokenDurationReset: false
                refreshTokenKept: false
                requestObjectEncryptionAlgMatchRequired: false
                requestObjectEncryptionEncMatchRequired: false
                requestObjectRequired: false
                revocationEndpoint: 'https://my-service.example.com/revocation'
                scopeRequired: false
                serviceName: My service
                serviceOwnerNumber: 2
                singleAccessTokenPerSubject: false
                supportedClaimTypes:
                  - NORMAL
                supportedDisplays:
                  - PAGE
                supportedGrantTypes:
                  - AUTHORIZATION_CODE
                  - REFRESH_TOKEN
                supportedIntrospectionAuthMethods:
                  - CLIENT_SECRET_BASIC
                supportedResponseTypes:
                  - CODE
                supportedRevocationAuthMethods:
                  - CLIENT_SECRET_BASIC
                supportedScopes:
                  - defaultEntry: false
                    description: A permission to read your history.
                    name: history.read
                  - defaultEntry: false
                    description: A permission to read your timeline.
                    name: timeline.read
                supportedTokenAuthMethods:
                  - CLIENT_SECRET_BASIC
                tlsClientCertificateBoundAccessTokens: false
                tokenEndpoint: 'https://my-service.example.com/token'
                tokenExpirationLinked: false
                traditionalRequestObjectProcessingApplied: false
                unauthorizedOnClientConfigSupported: false
                userCodeLength: 0
        '400':
          $ref: '#/paths/~1api~1info/get/responses/400'
        '401':
          $ref: '#/paths/~1api~1info/get/responses/401'
        '403':
          $ref: '#/paths/~1api~1info/get/responses/403'
        '500':
          $ref: '#/paths/~1api~1info/get/responses/500'
      operationId: service_create_api
      x-code-samples:
        - lang: shell
          label: curl
          source: |
            curl -v -X POST https://us.authlete.com/api/service/create \
            -H 'Content-Type:application/json' \
            -u 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F' \
            -d '{ "serviceName": "My Service", ... }'
        - lang: java
          label: java
          source: |
            AuthleteConfiguration conf = ...;
            AuthleteApi api = AuthleteApiFactory.create(conf);

            Service service = new Service();
            service.setServiceName("My Service");
            ...

            api.createService(service);
        - lang: python
          source: |
            conf = ...
            api = AuthleteApiImpl(conf)

            service = Service()
            service.serviceName = 'My Service'
            ...

            api.createService(service)
      tags:
        - Service Management
  '/api/{serviceId}/service/update':
    post:
      summary: Update Service
      description: |
        Update a service.
      parameters:
        - in: path
          name: serviceId
          description: A service ID.
          schema:
            type: string
          required: true
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Service'
            example:
              accessTokenDuration: 3600
              accessTokenType: Bearer
              allowableClockSkew: 0
              attributes:
                - key: attribute1-key
                  value: attribute1-value
                - key: attribute2-key
                  value: attribute2-value
              authorizationEndpoint: 'https://my-service.example.com/authz'
              authorizationResponseDuration: 0
              backchannelAuthReqIdDuration: 0
              backchannelBindingMessageRequiredInFapi: false
              backchannelPollingInterval: 0
              backchannelUserCodeParameterSupported: false
              claimShortcutRestrictive: false
              clientIdAliasEnabled: true
              clientsPerDeveloper: 0
              dcrScopeUsedAsRequestable: false
              deviceFlowCodeDuration: 0
              deviceFlowPollingInterval: 0
              directAuthorizationEndpointEnabled: false
              directIntrospectionEndpointEnabled: false
              directJwksEndpointEnabled: false
              directRevocationEndpointEnabled: false
              directTokenEndpointEnabled: false
              directUserInfoEndpointEnabled: false
              dynamicRegistrationSupported: false
              errorDescriptionOmitted: false
              errorUriOmitted: false
              frontChannelRequestObjectEncryptionRequired: false
              grantManagementActionRequired: false
              hsmEnabled: false
              idTokenDuration: 0
              introspectionEndpoint: 'https://my-service.example.com/introspection'
              issSuppressed: false
              issuer: 'https://my-service.example.com'
              missingClientIdAllowed: false
              mutualTlsValidatePkiCertChain: false
              nbfOptional: false
              parRequired: false
              pkceRequired: true
              pkceS256Required: false
              pushedAuthReqDuration: 0
              refreshTokenDuration: 3600
              refreshTokenDurationKept: false
              refreshTokenDurationReset: false
              refreshTokenKept: false
              requestObjectEncryptionAlgMatchRequired: false
              requestObjectEncryptionEncMatchRequired: false
              requestObjectRequired: false
              revocationEndpoint: 'https://my-service.example.com/revocation'
              scopeRequired: false
              serviceName: My updated service
              singleAccessTokenPerSubject: false
              supportedClaimTypes:
                - NORMAL
              supportedDisplays:
                - PAGE
              supportedGrantTypes:
                - AUTHORIZATION_CODE
                - REFRESH_TOKEN
              supportedIntrospectionAuthMethods:
                - CLIENT_SECRET_BASIC
              supportedResponseTypes:
                - CODE
              supportedRevocationAuthMethods:
                - CLIENT_SECRET_BASIC
              supportedScopes:
                - defaultEntry: false
                  description: A permission to read your history.
                  name: history.read
                - defaultEntry: false
                  description: A permission to read your timeline.
                  name: timeline.read
              supportedTokenAuthMethods:
                - CLIENT_SECRET_BASIC
              tlsClientCertificateBoundAccessTokens: false
              tokenEndpoint: 'https://my-service.example.com/token'
              tokenExpirationLinked: false
              traditionalRequestObjectProcessingApplied: false
              unauthorizedOnClientConfigSupported: false
              userCodeLength: 0
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Service'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
              example:
                accessTokenDuration: 3600
                accessTokenType: Bearer
                allowableClockSkew: 0
                apiKey: 21653835348762
                apiSecret: uE4NgqeIpuSV_XejQ7Ds3jsgA1yXhjR1MXJ1LbPuyls
                attributes:
                  - key: attribute1-key
                    value: attribute1-value
                  - key: attribute2-key
                    value: attribute2-value
                authorizationEndpoint: 'https://my-service.example.com/authz'
                authorizationResponseDuration: 0
                backchannelAuthReqIdDuration: 0
                backchannelBindingMessageRequiredInFapi: false
                backchannelPollingInterval: 0
                backchannelUserCodeParameterSupported: false
                claimShortcutRestrictive: false
                clientIdAliasEnabled: true
                clientsPerDeveloper: 0
                createdAt: 1639373421000
                dcrScopeUsedAsRequestable: false
                deviceFlowCodeDuration: 0
                deviceFlowPollingInterval: 0
                directAuthorizationEndpointEnabled: false
                directIntrospectionEndpointEnabled: false
                directJwksEndpointEnabled: false
                directRevocationEndpointEnabled: false
                directTokenEndpointEnabled: false
                directUserInfoEndpointEnabled: false
                dynamicRegistrationSupported: false
                errorDescriptionOmitted: false
                errorUriOmitted: false
                frontChannelRequestObjectEncryptionRequired: false
                grantManagementActionRequired: false
                hsmEnabled: false
                idTokenDuration: 0
                introspectionEndpoint: 'https://my-service.example.com/introspection'
                issSuppressed: false
                issuer: 'https://my-service.example.com'
                metadata:
                  - key: clientCount
                    value: '1'
                missingClientIdAllowed: false
                modifiedAt: 1639373420725
                mutualTlsValidatePkiCertChain: false
                nbfOptional: false
                number: 5041
                parRequired: false
                pkceRequired: true
                pkceS256Required: false
                pushedAuthReqDuration: 0
                refreshTokenDuration: 3600
                refreshTokenDurationKept: false
                refreshTokenDurationReset: false
                refreshTokenKept: false
                requestObjectEncryptionAlgMatchRequired: false
                requestObjectEncryptionEncMatchRequired: false
                requestObjectRequired: false
                revocationEndpoint: 'https://my-service.example.com/revocation'
                scopeRequired: false
                serviceName: My updated service
                serviceOwnerNumber: 2
                singleAccessTokenPerSubject: false
                supportedClaimTypes:
                  - NORMAL
                supportedDisplays:
                  - PAGE
                supportedGrantTypes:
                  - AUTHORIZATION_CODE
                  - REFRESH_TOKEN
                supportedIntrospectionAuthMethods:
                  - CLIENT_SECRET_BASIC
                supportedResponseTypes:
                  - CODE
                supportedRevocationAuthMethods:
                  - CLIENT_SECRET_BASIC
                supportedScopes:
                  - defaultEntry: false
                    description: A permission to read your history.
                    name: history.read
                  - defaultEntry: false
                    description: A permission to read your timeline.
                    name: timeline.read
                supportedTokenAuthMethods:
                  - CLIENT_SECRET_BASIC
                tlsClientCertificateBoundAccessTokens: false
                tokenEndpoint: 'https://my-service.example.com/token'
                tokenExpirationLinked: false
                traditionalRequestObjectProcessingApplied: false
                unauthorizedOnClientConfigSupported: false
                userCodeLength: 0
        '400':
          $ref: '#/paths/~1api~1info/get/responses/400'
        '401':
          $ref: '#/paths/~1api~1info/get/responses/401'
        '403':
          $ref: '#/paths/~1api~1info/get/responses/403'
        '500':
          $ref: '#/paths/~1api~1info/get/responses/500'
      operationId: service_update_api
      x-code-samples:
        - lang: shell
          label: curl
          source: |
            curl -v -X POST https://us.authlete.com/api/21653835348762/service/update \
            -H 'Content-Type:application/json' \
            -u 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F' \
            -d '{ "serviceName": "My updated service", ... }'
        - lang: java
          label: java
          source: |
            AuthleteConfiguration conf = ...;
            AuthleteApi api = AuthleteApiFactory.create(conf);

            // Get an existing service.
            long serviceId = ...;
            Service service = api.getService(serviceId);

            // Update "service name".
            service.setAServiceName("My updated service");

            api.updateService(service);
        - lang: python
          source: |
            conf = ...
            api = AuthleteApiImpl(conf)

            # Get an existing service.
            serviceId = ...
            service = api.getService(serviceId)

            # Update "service name".
            service.serviceName = 'My updated service'

            api.updateService(service)
      tags:
        - Service Management
  '/api/{serviceId}/service/delete':
    delete:
      summary: Delete Service ⚡
      description: |
        Delete a service.
      parameters:
        - in: path
          name: serviceId
          description: A service ID.
          schema:
            type: string
          required: true
      responses:
        '204':
          description: The service was successfully deleted.
        '400':
          $ref: '#/paths/~1api~1info/get/responses/400'
        '401':
          $ref: '#/paths/~1api~1info/get/responses/401'
        '403':
          $ref: '#/paths/~1api~1info/get/responses/403'
        '500':
          $ref: '#/paths/~1api~1info/get/responses/500'
      operationId: service_delete_api
      x-code-samples:
        - lang: shell
          label: curl
          source: |
            curl -v -X DELETE https://us.authlete.com/api/9503564192/service/delete/21653835348762 \
            -u 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F'
        - lang: java
          label: java
          source: |
            AuthleteConfiguration conf = ...;
            AuthleteApi api = AuthleteApiFactory.create(conf);

            long serviceId = ...;

            api.deleteService(serviceId);
        - lang: python
          source: |
            conf = ...
            api = AuthleteApiImpl(conf)

            serviceId = ...

            api.deleteService(serviceId)
      tags:
        - Service Management
  '/api/{serviceId}/client/get/{clientId}':
    get:
      summary: Get Client
      description: |
        Get a client.
      parameters:
        - in: path
          name: serviceId
          description: A service ID.
          required: true
          schema:
            type: string
        - in: path
          name: clientId
          schema:
            type: string
          required: true
          description: A client ID.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
              example:
                applicationType: WEB
                attributes:
                  - key: attribute1-key
                    value: attribute1-value
                  - key: attribute2-key
                    value: attribute2-value
                authTimeRequired: false
                bcUserCodeRequired: false
                clientId: 26478243745571
                clientIdAlias: my-client
                clientIdAliasEnabled: true
                clientName: My client
                clientSecret: gXz97ISgLs4HuXwOZWch8GEmgL4YMvUJwu3er_kDVVGcA0UOhA9avLPbEmoeZdagi9yC_-tEiT2BdRyH9dbrQQ
                clientType: CONFIDENTIAL
                createdAt: 1639468356000
                defaultMaxAge: 0
                derivedSectorIdentifier: my-client.example.com
                developer: john
                dynamicallyRegistered: false
                frontChannelRequestObjectEncryptionRequired: false
                grantTypes:
                  - AUTHORIZATION_CODE
                  - REFRESH_TOKEN
                idTokenSignAlg: RS256
                modifiedAt: 1639468356000
                number: 6164
                parRequired: false
                redirectUris:
                  - 'https://my-client.example.com/cb1'
                  - 'https://my-client.example.com/cb2'
                requestObjectEncryptionAlgMatchRequired: false
                requestObjectEncryptionEncMatchRequired: false
                requestObjectRequired: false
                responseTypes:
                  - CODE
                  - TOKEN
                serviceNumber: 5041
                subjectType: PUBLIC
                tlsClientCertificateBoundAccessTokens: false
                tokenAuthMethod: CLIENT_SECRET_BASIC
        '400':
          $ref: '#/paths/~1api~1info/get/responses/400'
        '401':
          $ref: '#/paths/~1api~1info/get/responses/401'
        '403':
          $ref: '#/paths/~1api~1info/get/responses/403'
        '500':
          $ref: '#/paths/~1api~1info/get/responses/500'
      operationId: client_get_api
      x-code-samples:
        - lang: shell
          label: curl
          source: |
            curl -v https://us.authlete.com/api/21653835348762/client/get/26478243745571 \
            -u 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F'
        - lang: java
          label: java
          source: |
            AuthleteConfiguration conf = ...;
            AuthleteApi api = AuthleteApiFactory.create(conf);

            long clientId = ...;

            api.getClient(clientId);
        - lang: python
          source: |
            conf = ...
            api = AuthleteApiImpl(conf)

            clientId = ...

            api.getClient(clientId)
      tags:
        - Client Management
  '/api/{serviceId}/client/get/list':
    get:
      summary: List Clients
      description: |
        Get a list of clients on a service.

        If the access token can view a full service (including an admin), all clients within the
        service are returned. Otherwise, only clients that the access token can view within the
        service are returned.
        - ViewClient: []
      parameters:
        - in: path
          name: serviceId
          description: A service ID.
          required: true
          schema:
            type: string
        - in: query
          name: developer
          schema:
            type: string
          required: false
          description: |
            The developer of client applications. The default value is null. If this parameter is not set
            to `null`, client application of the specified developer are returned. Otherwise, all client
            applications that belong to the service are returned.
        - in: query
          name: start
          schema:
            type: integer
            format: int32
          required: false
          description: Start index (inclusive) of the result set. The default value is 0. Must not be a negative number.
        - in: query
          name: end
          schema:
            type: integer
            format: int32
          required: false
          description: End index (exclusive) of the result set. The default value is 5. Must not be a negative number.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  start:
                    type: integer
                    format: int32
                    description: |
                      Start index (inclusive) of the result set of the query.
                  end:
                    type: integer
                    format: int32
                    description: |
                      End index (exclusive) of the result set of the query.
                  totalCount:
                    type: integer
                    format: int32
                    description: |
                      Total number of clients that belong to the service. This doesn't mean the number of clients
                      contained in the response.
                  clients:
                    type: array
                    items:
                      $ref: '#/components/schemas/Client'
                    description: |
                      An array of clients.
              examples:
                full:
                  summary: Example showing full client view.
                  value:
                    clients:
                      - applicationType: WEB
                        attributes:
                          - key: attribute1-key
                            value: attribute1-value
                          - key: attribute2-key
                            value: attribute2-value
                        authTimeRequired: false
                        bcUserCodeRequired: false
                        clientId: 26478243745571
                        clientIdAlias: my-client
                        clientIdAliasEnabled: true
                        clientName: My client
                        clientSecret: gXz97ISgLs4HuXwOZWch8GEmgL4YMvUJwu3er_kDVVGcA0UOhA9avLPbEmoeZdagi9yC_-tEiT2BdRyH9dbrQQ
                        clientType: CONFIDENTIAL
                        createdAt: 1639468356000
                        defaultMaxAge: 0
                        derivedSectorIdentifier: my-client.example.com
                        dynamicallyRegistered: false
                        frontChannelRequestObjectEncryptionRequired: false
                        grantTypes:
                          - AUTHORIZATION_CODE
                          - REFRESH_TOKEN
                        idTokenSignAlg: RS256
                        modifiedAt: 1639468356000
                        number: 6164
                        parRequired: false
                        redirectUris:
                          - 'https://my-client.example.com/cb1'
                          - 'https://my-client.example.com/cb2'
                        requestObjectEncryptionAlgMatchRequired: false
                        requestObjectEncryptionEncMatchRequired: false
                        requestObjectRequired: false
                        responseTypes:
                          - CODE
                          - TOKEN
                        serviceNumber: 5041
                        subjectType: PUBLIC
                        tlsClientCertificateBoundAccessTokens: false
                        tokenAuthMethod: CLIENT_SECRET_BASIC
                    end: 3
                    start: 0
                    totalCount: 1
                limited:
                  summary: Example showing limited client view.
                  value:
                    clients:
                      - clientId: 26478243745571
                        clientIdAlias: my-client
                        clientIdAliasEnabled: true
                        clientName: My client
                        clientType: CONFIDENTIAL
                        number: 6164
                    end: 3
                    start: 0
                    totalCount: 1
        '400':
          $ref: '#/paths/~1api~1info/get/responses/400'
        '401':
          $ref: '#/paths/~1api~1info/get/responses/401'
        '403':
          $ref: '#/paths/~1api~1info/get/responses/403'
        '500':
          $ref: '#/paths/~1api~1info/get/responses/500'
      operationId: client_get_list_api
      x-code-samples:
        - lang: shell
          label: curl
          source: |
            curl -v https://us.authlete.com/api/21653835348762/client/get/list?developer=john\&start=0\&end=5 \
            -u 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F'
        - lang: java
          label: java
          source: |
            AuthleteConfiguration conf = ...;
            AuthleteApi api = AuthleteApiFactory.create(conf);

            String developer = "john";
            int start = 0;
            int end = 5;

            api.getClientList(developer, start, end);
        - lang: python
          source: |
            conf = ...
            api = AuthleteApiImpl(conf)

            developer = 'john'
            start = 0
            end = 5

            api.getClientList(developer, start, end)
      tags:
        - Client Management
  '/api/{serviceId}/client/create':
    post:
      summary: Create Client
      description: |
        Create a new client.
      parameters:
        - in: path
          name: serviceId
          description: A service ID.
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Client'
            example:
              developer: john
              clientName: My Client
              clientIdAlias: my-client
              clientIdAliasEnabled: true
              clientType: CONFIDENTIAL
              applicationType: WEB
              grantTypes:
                - AUTHORIZATION_CODE
                - REFRESH_TOKEN
              responseTypes:
                - CODE
                - TOKEN
              redirectUris:
                - 'https://my-client.example.com/cb1'
                - 'https://my-client.example.com/cb2'
              tokenAuthMethod: CLIENT_SECRET_BASIC
              attributes:
                - key: attribute1-key
                  value: attribute1-value
                - key: attribute2-key
                  value: attribute2-value
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
              example:
                applicationType: WEB
                attributes:
                  - key: attribute1-key
                    value: attribute1-value
                  - key: attribute2-key
                    value: attribute2-value
                authTimeRequired: false
                bcUserCodeRequired: false
                clientId: 26478243745571
                clientIdAlias: my-client
                clientIdAliasEnabled: true
                clientName: My client
                clientSecret: gXz97ISgLs4HuXwOZWch8GEmgL4YMvUJwu3er_kDVVGcA0UOhA9avLPbEmoeZdagi9yC_-tEiT2BdRyH9dbrQQ
                clientType: CONFIDENTIAL
                createdAt: 1639468356000
                defaultMaxAge: 0
                derivedSectorIdentifier: my-client.example.com
                developer: john
                dynamicallyRegistered: false
                frontChannelRequestObjectEncryptionRequired: false
                grantTypes:
                  - AUTHORIZATION_CODE
                  - REFRESH_TOKEN
                idTokenSignAlg: RS256
                modifiedAt: 1639468356000
                number: 6164
                parRequired: false
                redirectUris:
                  - 'https://my-client.example.com/cb1'
                  - 'https://my-client.example.com/cb2'
                requestObjectEncryptionAlgMatchRequired: false
                requestObjectEncryptionEncMatchRequired: false
                requestObjectRequired: false
                responseTypes:
                  - CODE
                  - TOKEN
                serviceNumber: 5041
                subjectType: PUBLIC
                tlsClientCertificateBoundAccessTokens: false
                tokenAuthMethod: CLIENT_SECRET_BASIC
        '400':
          $ref: '#/paths/~1api~1info/get/responses/400'
        '401':
          $ref: '#/paths/~1api~1info/get/responses/401'
        '403':
          $ref: '#/paths/~1api~1info/get/responses/403'
        '500':
          $ref: '#/paths/~1api~1info/get/responses/500'
      operationId: client_create_api
      x-code-samples:
        - lang: shell
          label: curl
          source: |
            curl -v -X POST https://us.authlete.com/api/21653835348762/client/create \
            -H 'Content-Type:application/json' \
            -u 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F' \
            -d '{ "developer": "john", "clientName": "My Client", ... }'
        - lang: java
          label: java
          source: |
            AuthleteConfiguration conf = ...;
            AuthleteApi api = AuthleteApiFactory.create(conf);

            Client client = new Client();
            client.setDeveloper("john");
            client.setClientName("My Client");
            ...

            api.createClient(client);
        - lang: python
          source: |
            conf = ...
            api = AuthleteApiImpl(conf)

            client = Client()
            client.developer = 'john'
            client.clientName = 'My Client'
            ...

            api.createClient(client)
      tags:
        - Client Management
  '/api/{serviceId}/client/update/{clientId}':
    post:
      summary: Update Client
      description: |
        Update a client.
      parameters:
        - in: path
          name: serviceId
          description: A service ID.
          required: true
          schema:
            type: string
        - in: path
          name: clientId
          schema:
            type: string
          required: true
          description: A client ID.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Client'
            example:
              applicationType: WEB
              attributes:
                - key: attribute1-key
                  value: attribute1-value
                - key: attribute2-key
                  value: attribute2-value
              authTimeRequired: false
              bcUserCodeRequired: false
              clientIdAlias: my-client
              clientIdAliasEnabled: true
              clientName: My updated client
              clientType: CONFIDENTIAL
              defaultMaxAge: 0
              derivedSectorIdentifier: my-client.example.com
              developer: john
              dynamicallyRegistered: false
              frontChannelRequestObjectEncryptionRequired: false
              grantTypes:
                - AUTHORIZATION_CODE
                - REFRESH_TOKEN
              idTokenSignAlg: RS256
              parRequired: false
              redirectUris:
                - 'https://my-client.example.com/cb1'
                - 'https://my-client.example.com/cb2'
              requestObjectEncryptionAlgMatchRequired: false
              requestObjectEncryptionEncMatchRequired: false
              requestObjectRequired: false
              responseTypes:
                - CODE
                - TOKEN
              subjectType: PUBLIC
              tlsClientCertificateBoundAccessTokens: false
              tokenAuthMethod: CLIENT_SECRET_BASIC
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Client'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
              example:
                applicationType: WEB
                attributes:
                  - key: attribute1-key
                    value: attribute1-value
                  - key: attribute2-key
                    value: attribute2-value
                authTimeRequired: false
                bcUserCodeRequired: false
                clientId: 26478243745571
                clientIdAlias: my-client
                clientIdAliasEnabled: true
                clientName: My updated client
                clientSecret: gXz97ISgLs4HuXwOZWch8GEmgL4YMvUJwu3er_kDVVGcA0UOhA9avLPbEmoeZdagi9yC_-tEiT2BdRyH9dbrQQ
                clientType: CONFIDENTIAL
                createdAt: 1639468356000
                defaultMaxAge: 0
                derivedSectorIdentifier: my-client.example.com
                developer: john
                dynamicallyRegistered: false
                frontChannelRequestObjectEncryptionRequired: false
                grantTypes:
                  - AUTHORIZATION_CODE
                  - REFRESH_TOKEN
                idTokenSignAlg: RS256
                modifiedAt: 1639557082764
                number: 6164
                parRequired: false
                redirectUris:
                  - 'https://my-client.example.com/cb1'
                  - 'https://my-client.example.com/cb2'
                requestObjectEncryptionAlgMatchRequired: false
                requestObjectEncryptionEncMatchRequired: false
                requestObjectRequired: false
                responseTypes:
                  - CODE
                  - TOKEN
                serviceNumber: 5041
                subjectType: PUBLIC
                tlsClientCertificateBoundAccessTokens: false
                tokenAuthMethod: CLIENT_SECRET_BASIC
        '400':
          $ref: '#/paths/~1api~1info/get/responses/400'
        '401':
          $ref: '#/paths/~1api~1info/get/responses/401'
        '403':
          $ref: '#/paths/~1api~1info/get/responses/403'
        '500':
          $ref: '#/paths/~1api~1info/get/responses/500'
      operationId: client_update_api
      x-code-samples:
        - lang: shell
          label: curl
          source: |
            curl -v -X POST https://us.authlete.com/api/21653835348762/client/update/26478243745571 \
            -H 'Content-Type:application/json' \
            -u 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F' \
            -d '{ "clientName": "My updated client", ... }'
        - lang: java
          label: java
          source: |
            AuthleteConfiguration conf = ...;
            AuthleteApi api = AuthleteApiFactory.create(conf);

            // Get an existing client.
            long clientId = ...;
            Client client = api.getClient(clientId);

            // Update "client name".
            client.setClientName("My updated client");

            api.updateClient(client);
        - lang: python
          source: |
            conf = ...
            api = AuthleteApiImpl(conf)

            # Get an existing client.
            clientId = ...
            client = api.getClient(clientId)

            # Update "client name".
            client.clientName = 'My updated client'

            api.updatedClient(client)
      tags:
        - Client Management
  '/api/{serviceId}/client/delete/{clientId}':
    delete:
      summary: Delete Client ⚡
      description: |
        Delete a client.
      parameters:
        - in: path
          name: serviceId
          description: A service ID.
          required: true
          schema:
            type: string
        - in: path
          name: clientId
          schema:
            type: string
          required: true
          description: The client ID.
      responses:
        '204':
          description: The client was successfully deleted.
        '400':
          $ref: '#/paths/~1api~1info/get/responses/400'
        '401':
          $ref: '#/paths/~1api~1info/get/responses/401'
        '403':
          $ref: '#/paths/~1api~1info/get/responses/403'
        '500':
          $ref: '#/paths/~1api~1info/get/responses/500'
      operationId: client_delete_api
      x-code-samples:
        - lang: shell
          label: curl
          source: |
            curl -v -X DELETE https://us.authlete.com/api/21653835348762/client/delete/26478243745571 \
            -u 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F'
        - lang: java
          label: java
          source: |
            AuthleteConfiguration conf = ...;
            AuthleteApi api = AuthleteApiFactory.create(conf);

            long clientId = ...;

            api.deleteClient(clientId);
        - lang: python
          source: |
            conf = ...
            api = AuthleteApiImpl(conf)

            clientId = ...

            api.deleteClient(clientId)
      tags:
        - Client Management
  '/api/{serviceId}/client/lock_flag/update/{clientIdentifier}':
    post:
      summary: Update Client Lock
      description: |
        Lock and unlock a client
      parameters:
        - in: path
          name: serviceId
          description: A service ID.
          required: true
          schema:
            type: string
        - in: path
          name: clientIdentifier
          schema:
            type: string
          required: true
          description: A client ID.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              required:
                - clientLocked
              properties:
                clientLocked:
                  type: boolean
                  description: |
                    The flag value to be set
            example:
              clientLocked: true
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/paths/~1api~1%7BserviceId%7D~1client~1lock_flag~1update~1%7BclientIdentifier%7D/post/requestBody/content/application~1json/schema'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                required:
                  - resultCode
                  - resultMessage
                properties:
                  resultCode:
                    type: string
                    description: The code which represents the result of the API call.
                  resultMessage:
                    type: string
                    description: A short message which explains the result of the API call.
        '400':
          $ref: '#/paths/~1api~1info/get/responses/400'
        '401':
          $ref: '#/paths/~1api~1info/get/responses/401'
        '403':
          $ref: '#/paths/~1api~1info/get/responses/403'
        '500':
          $ref: '#/paths/~1api~1info/get/responses/500'
      operationId: client_flag_update_api
      tags:
        - Client Management
  '/api/{serviceId}/client/secret/refresh/{clientIdentifier}':
    get:
      summary: Rotate Client Secret
      description: |
        Refresh the client secret of a client. A new value of the client secret will be generated by the
        Authlete server.

        If you want to specify a new value, use `/api/client/secret/update` API.
      parameters:
        - in: path
          name: serviceId
          description: A service ID.
          required: true
          schema:
            type: string
        - in: path
          name: clientIdentifier
          schema:
            type: string
          required: true
          description: |
            The client ID or the client ID alias of a client.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: string
                    description: The code which represents the result of the API call.
                  resultMessage:
                    type: string
                    description: A short message which explains the result of the API call.
                  newClientSecret:
                    type: string
                    description: |
                      The new client secret.
                  oldClientSecret:
                    type: string
                    description: |
                      The old client secret.
              example:
                resultCode: A148001
                resultMessage: '[A148001] Successfully refreshed the client secret of the client (ID = 26478243745571).'
                newClientSecret: 6Rg_WDO23F0HSZe8GzE5_ZxRHD2pCA02M7T87s0MNOmnf8hg9eYScgeH6P_tb42yiaRuptJmMY12jwWuoy2KeA
                oldClientSecret: gXz97ISgLs4HuXwOZWch8GEmgL4YMvUJwu3er_kDVVGcA0UOhA9avLPbEmoeZdagi9yC_-tEiT2BdRyH9dbrQQ
        '400':
          $ref: '#/paths/~1api~1info/get/responses/400'
        '401':
          $ref: '#/paths/~1api~1info/get/responses/401'
        '403':
          $ref: '#/paths/~1api~1info/get/responses/403'
        '500':
          $ref: '#/paths/~1api~1info/get/responses/500'
      operationId: client_secret_refresh_api
      x-code-samples:
        - lang: shell
          label: curl
          source: |
            curl -v https://us.authlete.com/api/21653835348762/client/secret/refresh/26478243745571 \
            -u 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F'
        - lang: java
          label: java
          source: |
            AuthleteConfiguration conf = ...;
            AuthleteApi api = AuthleteApiFactory.create(conf);

            String clientIdentifier = ...;

            api.refreshClientSecret(clientIdentifier);
        - lang: python
          source: |
            conf = ...
            api = AuthleteApiImpl(conf)

            clientIdentifier = ...

            api.refreshClientSecret(clientIdentifier)
      tags:
        - Client Management
  '/api/{serviceId}/client/secret/update/{clientIdentifier}':
    post:
      summary: Update Client Secret
      description: |
        Update the client secret of a client.

        If you want to have the Authlete server generate a new value of the client secret, use `/api/client/secret/refresh`
        API.
      parameters:
        - in: path
          name: serviceId
          description: A service ID.
          required: true
          schema:
            type: string
        - in: path
          name: clientIdentifier
          schema:
            type: string
          required: true
          description: |
            The client ID or the client ID alias of a client.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - clientSecret
              properties:
                clientSecret:
                  type: string
                  description: |
                    The new value of the client secret. Valid characters for a client secret are `A-Z`, `a-z`, `0-9`,
                    `-`, and `_`. The maximum length of a client secret is 86.
            example:
              clientSecret: my_updated_client_secret
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/paths/~1api~1%7BserviceId%7D~1client~1secret~1update~1%7BclientIdentifier%7D/post/requestBody/content/application~1json/schema'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: string
                    description: The code which represents the result of the API call.
                  resultMessage:
                    type: string
                    description: A short message which explains the result of the API call.
                  newClientSecret:
                    type: string
                    description: |
                      The new client secret.
                  oldClientSecret:
                    type: string
                    description: |
                      The old client secret.
              example:
                resultCode: A149001
                resultMessage: '[A149001] Successfully updated the client secret of the client (ID = 26478243745571).'
                newClientSecret: my_updated_client_secret
                oldClientSecret: 6Rg_WDO23F0HSZe8GzE5_ZxRHD2pCA02M7T87s0MNOmnf8hg9eYScgeH6P_tb42yiaRuptJmMY12jwWuoy2KeA
        '400':
          $ref: '#/paths/~1api~1info/get/responses/400'
        '401':
          $ref: '#/paths/~1api~1info/get/responses/401'
        '403':
          $ref: '#/paths/~1api~1info/get/responses/403'
        '500':
          $ref: '#/paths/~1api~1info/get/responses/500'
      operationId: client_secret_update_api
      x-code-samples:
        - lang: shell
          label: curl
          source: |
            curl -v https://us.authlete.com/api/21653835348762/client/secret/update/26478243745571 \
            -H 'Content-Type:application/json' \
            -u 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F' \
            -d '{ "clientSecret": "..." }'
        - lang: java
          label: java
          source: |
            AuthleteConfiguration conf = ...;
            AuthleteApi api = AuthleteApiFactory.create(conf);

            String clientIdentifier = ...;
            String clientSecret = "my_updated_client_secret";

            api.updateClientSecret(clientIdentifier, clientSecret);
        - lang: python
          source: |
            conf = ...
            api = AuthleteApiImpl(conf)

            clientIdentifier = ...
            clientSecret = 'my_new_client_secret'

            api.updateClientSecret(clientIdentifier, clientSecret)
      tags:
        - Client Management
  '/api/{serviceId}/client/authorization/get/list':
    get:
      summary: Get Authorized Applications
      description: |
        Get a list of client applications that an end-user has authorized.

        The subject parameter is required and can be provided either in the path or as a query parameter.
      parameters:
        - in: path
          name: serviceId
          description: A service ID.
          required: true
          schema:
            type: string
        - in: path
          name: subject
          schema:
            type: string
          required: true
          description: |
            Unique user ID of an end-user.
        - in: query
          name: subject
          schema:
            type: string
          required: true
          description: |
            Unique user ID of an end-user.
        - in: query
          name: developer
          schema:
            type: string
          required: false
          description: |
            Unique ID of a client developer.
        - in: query
          name: start
          schema:
            type: integer
            format: int32
          required: false
          description: Start index of search results (inclusive). The default value is 0.
        - in: query
          name: end
          schema:
            type: integer
            format: int32
          required: false
          description: |
            End index of search results (exclusive). The default value is 5.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  start:
                    type: integer
                    format: int32
                    description: |
                      Start index of search results (inclusive).
                  end:
                    type: integer
                    format: int32
                    description: |
                      End index of search results (exclusive).
                  developer:
                    type: string
                    description: |
                      Unique ID of a client developer.
                  subject:
                    type: string
                    description: |
                      Unique user ID of an end-user.
                  totalCount:
                    type: integer
                    format: int32
                    description: |
                      Unique ID of a client developer.
                  clients:
                    type: array
                    items:
                      $ref: '#/paths/~1api~1%7BserviceId%7D~1auth~1token~1get~1list/get/responses/200/content/application~1json/schema/properties/client'
                    description: |
                      An array of clients.
              example:
                clients:
                  - clientId: 26478243745571
                    clientIdAlias: my-client
                    clientIdAliasEnabled: true
                    clientName: My client
                    clientType: CONFIDENTIAL
                    number: 6164
                end: 5
                start: 0
                subject: john
                totalCount: 1
        '400':
          $ref: '#/paths/~1api~1info/get/responses/400'
        '401':
          $ref: '#/paths/~1api~1info/get/responses/401'
        '403':
          $ref: '#/paths/~1api~1info/get/responses/403'
        '500':
          $ref: '#/paths/~1api~1info/get/responses/500'
      operationId: client_authorization_get_list_api
      x-code-samples:
        - lang: shell
          label: curl
          source: |
            curl -v https://us.authlete.com/api/client/authorization/get/list/john?start=0\&end=5 \
            -u '21653835348762:uE4NgqeIpuSV_XejQ7Ds3jsgA1yXhjR1MXJ1LbPuyls'
        - lang: java
          label: java
          source: |
            AuthleteConfiguration conf = ...;
            AuthleteApi api = AuthleteApiFactory.create(conf);

            ClientAuthorizationGetListRequest req = new ClientAuthorizationGetListRequest();
            req.setSubject("john");
            req.setStart(0);
            req.setEnd(5);

            api.getClientAuthorizationList(req);
        - lang: python
          source: |
            conf = ...
            api = AuthleteApiImpl(conf)

            req = ClientAuthorizationGetListRequest()
            req.subject = 'john'
            req.start = 0
            req.end = 5

            api.getClientAuthorizationList(req)
      tags:
        - Client Management
  '/api/{serviceId}/client/authorization/update/{clientId}':
    post:
      summary: Update Client Tokens
      description: |
        Update attributes of all existing access tokens given to a client application.
      parameters:
        - in: path
          name: serviceId
          description: A service ID.
          required: true
          schema:
            type: string
        - in: path
          name: clientId
          schema:
            type: string
          required: true
          description: |
            A client ID.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              required:
                - subject
              properties:
                subject:
                  type: string
                  description: |
                    The subject (= unique identifier) of the end-user who has granted authorization to the client
                    application.
                scopes:
                  type: array
                  items:
                    type: string
                  description: |
                    An array of new scopes. Optional. If a non-null value is given, the new scopes are set to all
                    existing access tokens. If an API call is made using `"Content-Type: application/x-www-form-urlencoded"`,
                    scope names listed in this request parameter should be delimited by spaces (after form encoding,
                    spaces are converted to `+`).
            example:
              subject: john
              scopes:
                - history.read
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/paths/~1api~1%7BserviceId%7D~1client~1authorization~1update~1%7BclientId%7D/post/requestBody/content/application~1json/schema'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: string
                    description: The code which represents the result of the API call.
                  resultMessage:
                    type: string
                    description: A short message which explains the result of the API call.
              example:
                resultCode: A138001
                resultMessage: '[A138001] Updated 1 access token(s) issued to the client (ID = 26478243745571) of the service (API Key = 21653835348762).'
        '400':
          $ref: '#/paths/~1api~1info/get/responses/400'
        '401':
          $ref: '#/paths/~1api~1info/get/responses/401'
        '403':
          $ref: '#/paths/~1api~1info/get/responses/403'
        '500':
          $ref: '#/paths/~1api~1info/get/responses/500'
      operationId: client_authorization_update_api
      x-code-samples:
        - lang: shell
          label: curl
          source: |
            curl -v -X POST https://us.authlete.com/api/21653835348762/client/authorization/update/26478243745571 \
            -H 'Content-Type:application/json' \
            -u 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F' \
            -d '{ "subject": "john", "scopes": [ "history.read" ] }'
        - lang: java
          label: java
          source: |
            AuthleteConfiguration conf = ...;
            AuthleteApi api = AuthleteApiFactory.create(conf);

            long clientId = ...;

            ClientAuthorizationUpdateRequest req = new ClientAuthorizationUpdateRequest();
            req.setSubject("john");
            req.setScopes(new String[]{ "history.read" });

            api.updateClientAuthorization(clientId, req);
        - lang: python
          source: |
            conf = ...
            api = AuthleteApiImpl(conf)

            clientId = ...

            req = ClientAuthorizationUpdateRequest()
            req.subject = 'john'
            req.scopes = [ 'history.read' ]

            api.updateClientAuthorization(clientId, req)
      tags:
        - Client Management
  '/api/{serviceId}/client/authorization/delete/{clientId}':
    delete:
      summary: Delete Client Tokens
      description: |
        Delete all existing access tokens issued to a client application by an end-user.

        The subject parameter is required and can be provided either in the path or as a query parameter.
      parameters:
        - in: path
          name: serviceId
          description: A service ID.
          required: true
          schema:
            type: string
        - in: path
          name: clientId
          schema:
            type: string
          required: true
          description: |
            A client ID.
        - in: path
          name: subject
          schema:
            type: string
          required: true
          description: |
            Unique user ID of an end-user.
        - in: query
          name: subject
          schema:
            type: string
          required: true
          description: |
            Unique user ID of an end-user.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/paths/~1api~1%7BserviceId%7D~1client~1granted_scopes~1get~1%7BclientId%7D/get/responses/200/content/application~1json/schema'
              example:
                resultCode: A137001
                resultMessage: '[A137001] Deleted 3 access token(s) issued to the client (ID = 26478243745571) of the service (API Key = 21653835348762).'
        '400':
          $ref: '#/paths/~1api~1info/get/responses/400'
        '401':
          $ref: '#/paths/~1api~1info/get/responses/401'
        '403':
          $ref: '#/paths/~1api~1info/get/responses/403'
        '500':
          $ref: '#/paths/~1api~1info/get/responses/500'
      operationId: client_authorization_delete_api
      x-code-samples:
        - lang: shell
          label: curl
          source: |
            curl -v -X DELETE https://us.authlete.com/api/21653835348762/client/authorization/delete/26478243745571/john \
            -u 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F'
        - lang: java
          label: java
          source: |
            AuthleteConfiguration conf = ...;
            AuthleteApi api = AuthleteApiFactory.create(conf);

            long clientId = ...;
            String subject = "john";

            api.deleteClientAuthorization(clientId, subject);
        - lang: python
          source: |
            conf = ...
            api = AuthleteApiImpl(conf)

            clientId = ...
            subject = 'john'

            api.deleteClientAuthorization(clientId, subject)
      tags:
        - Client Management
  '/api/{serviceId}/client/granted_scopes/get/{clientId}':
    get:
      summary: Get Granted Scopes
      description: |
        Get the set of scopes that a user has granted to a client application.

        <br>
        <details>
        <summary>Description</summary>

        Possible values for `requestableScopes` parameter in the response from this API are as follows.

        **null**

        The user has not granted authorization to the client application in the past, or records about the
        combination of the user and the client application have been deleted from Authlete's DB.

        **An empty set**

        The user has granted authorization to the client application in the past, but no scopes are associated
        with the authorization.

        **A set with at least one element**

        The user has granted authorization to the client application in the past and some scopes are associated
        with the authorization. These scopes are returned.
        Example: `[ "profile", "email" ]`

        The subject parameter is required and can be provided either in the path or as a query parameter.
        </details>
      parameters:
        - in: path
          name: serviceId
          description: A service ID.
          required: true
          schema:
            type: string
        - in: path
          name: clientId
          schema:
            type: string
          required: true
          description: |
            A client ID.
        - in: path
          name: subject
          schema:
            type: string
          required: true
          description: |
            Unique user ID of an end-user.
        - in: query
          name: subject
          schema:
            type: string
          required: true
          description: |
            Unique user ID of an end-user.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: string
                    description: The code which represents the result of the API call.
                  resultMessage:
                    type: string
                    description: A short message which explains the result of the API call.
                  serviceApiKey:
                    type: integer
                    format: int64
                    description: A short message which explains the result of the API call.
                  clientId:
                    type: integer
                    format: int64
                    description: Get the client ID.
                  subject:
                    type: string
                    description: |
                      Get the subject (= unique identifier) of the user
                      who has granted authorization to the client.
                  latestGrantedScopes:
                    type: array
                    items:
                      type: string
                    description: |
                      Get the scopes granted to the client application by the last
                      authorization process by the user (who is identified by the
                      subject).
                  mergedGrantedScopes:
                    type: array
                    items:
                      type: string
                    description: |
                      Get the scopes granted to the client application by all the
                      past authorization processes. Note that revoked scopes are
                      not included.
                  modifiedAt:
                    type: integer
                    format: int64
                    description: |
                      Get the timestamp in milliseconds since Unix epoch
                      at which this record was modified.
              example:
                type: GrantedScopesGetResponse
                serviceApiKey: 21653835348762
                clientId: 26478243745571
                subject: john
                latestGrantedScopes:
                  - history.read
                mergedGrantedScopes:
                  - history.read
                  - timeline.read
        '400':
          $ref: '#/paths/~1api~1info/get/responses/400'
        '401':
          $ref: '#/paths/~1api~1info/get/responses/401'
        '403':
          $ref: '#/paths/~1api~1info/get/responses/403'
        '500':
          $ref: '#/paths/~1api~1info/get/responses/500'
      operationId: client_granted_scopes_get_api
      x-code-samples:
        - lang: shell
          label: curl
          source: |
            curl -v https://us.authlete.com/api/21653835348762/client/granted_scopes/get/26478243745571/john \
            -u 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F'
        - lang: java
          label: java
          source: |
            AuthleteConfiguration conf = ...;
            AuthleteApi api = AuthleteApiFactory.create(conf);

            long clientId  = 26478243745571;
            String subject = "john";

            api.getGrantedScopes(clientId, subject);
        - lang: python
          source: |
            conf = ...
            api = AuthleteApiImpl(conf)

            clientId = 26478243745571
            subject = 'john'

            api.getGrantedScopes(clientId, subject)
      tags:
        - Client Management
  '/api/{serviceId}/client/granted_scopes/delete/{clientId}':
    delete:
      summary: Delete Granted Scopes
      description: |
        Delete the set of scopes that an end-user has granted to a client application.

        <br>
        <details>
        <summary>Description</summary>

        Even if records about granted scopes are deleted by calling this API, existing access tokens are
        not deleted and scopes of existing access tokens are not changed.
        </details>

        The subject parameter is required and can be provided either in the path or as a query parameter.
      parameters:
        - in: path
          name: serviceId
          description: A service ID.
          required: true
          schema:
            type: string
        - in: path
          name: clientId
          schema:
            type: string
          required: true
          description: |
            A client ID.
        - in: path
          name: subject
          schema:
            type: string
          required: true
          description: |
            Unique user ID of an end-user.
        - in: query
          name: subject
          schema:
            type: string
          required: true
          description: |
            Unique user ID of an end-user.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: string
                    description: The code which represents the result of the API call.
                  resultMessage:
                    type: string
                    description: A short message which explains the result of the API call.
        '400':
          $ref: '#/paths/~1api~1info/get/responses/400'
        '401':
          $ref: '#/paths/~1api~1info/get/responses/401'
        '403':
          $ref: '#/paths/~1api~1info/get/responses/403'
        '500':
          $ref: '#/paths/~1api~1info/get/responses/500'
      operationId: client_granted_scopes_delete_api
      x-code-samples:
        - lang: shell
          label: curl
          source: |
            curl -v -X DELETE https://us.authlete.com/api/21653835348762/client/granted_scopes/delete/26478243745571/john \
            -u 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F'
        - lang: java
          label: java
          source: |
            AuthleteConfiguration conf = ...;
            AuthleteApi api = AuthleteApiFactory.create(conf);

            long clientId  = ...;
            String subject = "john";

            api.deleteGrantedScopes(clientId, subject);
        - lang: python
          source: |
            conf = ...
            api = AuthleteApiImpl(conf)

            clientId = ...
            subject = 'john'

            api.deleteGrantedScopes(clientId, subject)
      tags:
        - Client Management
  '/api/{serviceId}/auth/authorization':
    post:
      summary: Process Authorization Request
      x-badges:
        - color: red
          label: Core API
      description: |
        This API parses request parameters of an authorization request and returns necessary data for the authorization server
        implementation to process the authorization request further.

        <br>
        <details>
        <summary>Description</summary>

        This API is supposed to be called from within the implementation of the authorization endpoint of
        the service. The endpoint implementation must extract the request parameters from the authorization
        request from the client application and pass them as the value of parameters request parameter for
        Authlete's `/auth/authorization` API.

        The value of `parameters` is either (1) the entire query string when the HTTP method of the request
        from the client application is `GET` or (2) the entire entity body (which is formatted in
        `application/x-www-form-urlencoded`) when the HTTP method of the request from the client application
        is `POST`.

        The following code snippet is an example in JAX-RS showing how to extract request parameters from
        the authorization request.

        ```java
        @GET
        public Response get(@Context UriInfo uriInfo)
        {
            // The query parameters of the authorization request.
            String parameters = uriInfo.getRequestUri().getQuery();
            ......
        }

        @POST
        @Consumes(MediaType.APPLICATION_FORM_URLENCODED)
        public Response post(String parameters)
        {
            // 'parameters' is the entity body of the authorization request.
            ......
        }
        ```

        The endpoint implementation does not have to parse the request parameters from the client application
        because Authlete's `/auth/authorization` API does it.

        The response from `/auth/authorization` API has various parameters. Among them, it is `action`
        parameter that the authorization server implementation should check first because it denotes the
        next action that the authorization server implementation should take. According to the value of
        `action`, the service implementation must take the steps described below.

        **INTERNAL_SERVER_ERROR**

        When the value of `action` is `INTERNAL_SERVER_ERROR`, it means that the request from the authorization
        server implementation was wrong or that an error occurred in Authlete.
        In either case, from the viewpoint of the client application, it is an error on the server side.
        Therefore, the service implementation should generate a response to the client application with
        HTTP status of "500 Internal Server Error". Authlete recommends `application/json` as the content
        type although OAuth 2.0 specification does not mention the format of the error response when the
        redirect URI is not usable.

        The value of `responseContent` is a JSON string which describes the error, so it can be used as
        the entity body of the response.

        The following illustrates the response which the service implementation should generate and return
        to the client application.

        ```
        HTTP/1.1 500 Internal Server Error
        Content-Type: application/json
        Cache-Control: no-store
        Pragma: no-cache

        {responseContent}
        ```

        The endpoint implementation may return another different response to the client application
        since "500 Internal Server Error" is not required by OAuth 2.0.

        **BAD_REQUEST**

        When the value of `action` is `BAD_REQUEST`, it means that the request from the client application
        is invalid.

        A response with HTTP status of "400 Bad Request" should be returned to the client application and
        Authlete recommends `application/json` as the content type although OAuth 2.0 specification does
        not mention the format of the error response when the redirect URI is not usable.

        The value of `responseContent` is a JSON string which describes the error, so it can be used as
        the entity body of the response.

        The following illustrates the response which the service implementation should generate and return
        to the client application.

        ```
        HTTP/1.1 400 Bad Request
        Content-Type: application/json
        Cache-Control: no-store
        Pragma: no-cache

        {responseContent}
        ```

        The endpoint implementation may return another different response to the client application since
        "400 Bad Request" is not required by OAuth 2.0.

        **LOCATION**

        When the value of `action` is `LOCATION`, it means that the request from the client application
        is invalid but the redirect URI
        to which the error should be reported has been determined.

        A response with HTTP status of "302 Found" must be returned to the client application with `Location`
        header which has a redirect URI with error parameter.

        The value of `responseContent` is a redirect URI with `error` parameter, so it can be used as the
        value of `Location` header.

        The following illustrates the response which the service implementation must generate and return
        to the client application.

        ```
        HTTP/1.1 302 Found
        Location: {responseContent}
        Cache-Control: no-store
        Pragma: no-cache
        ```

        **FORM**

        When the value of `action` is `FORM`, it means that the request from the client application is
        invalid but the redirect URI to which the error should be reported has been determined, and that
        the authorization request contains `response_mode=form_post` as is defined in [OAuth 2.0 Form Post
        Response Mode](https://openid.net/specs/oauth-v2-form-post-response-mode-1_0.html).

        The HTTP status of the response returned to the client application should be "200 OK" and the
        content type should be `text/html;charset=UTF-8`.

        The value of `responseContent` is an HTML which can be used as the entity body of the response.

        The following illustrates the response which the service implementation must generate and return
        to the client application.

        ```
        HTTP/1.1 200 OK
        Content-Type: text/html;charset=UTF-8
        Cache-Control: no-store
        Pragma: no-cache

        {responseContent}
        ```

        **NO_INTERACTION**

        When the value of `action` is `NO_INTERACTION`, it means that the request from the client application
        has no problem and requires the service to process the request without displaying any user interface
        pages for authentication or consent. This case happens when the authorization request contains
        `prompt=none`.

        The service must follow the steps described below.

        [1] END-USER AUTHENTICATION

        Check whether an end-user has already logged in. If an end-user has logged in, go to the next step ([MAX_AGE]).
        Otherwise, call Authlete's `/auth/authorization/fail` API with `reason=NOT_LOGGED_IN` and use the response from
        the API to generate a response to the client application.

        [2] MAX AGE

        Get the value of `maxAge` parameter from the `/auth/authorization` API response. The value represents
        the maximum authentication age which has come from `max_age` request parameter or `defaultMaxAge`
        configuration parameter of the client application. If the value is `0`, go to the next step ([SUBJECT]).
        Otherwise, follow the sub steps described below.

        (i) Get the time at which the end-user was authenticated. that this value is not managed by Authlete,
        meaning that it is expected that the service implementation manages the value. If the service implementation
        does not manage authentication time of end-users, call Authlete's `/auth/authorization/fail` API
[...]
